body {
    background-color: #3a3d42;
    color: whitesmoke;
}
h1 {
    color: #afd77f;
}
#header, a{
    align-items: center;
    font-weight: 600;
}
h3 {
    color: #ff91a4;
}
.btn {
    background-color: #afd77f;
    margin-top: 10px;
}
.options {
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.order {
    margin-top: 40px;
}
hr {
    border: 1px solid whitesmoke;
}